/* FOOTER */

.index__footer{
    background-color: #ECF2FF;
    padding-top: 1.7rem;
}

.index__footer{
    nav{
        div{
            p{
                padding-left: 68rem;
                width: 35%;
                display: inline;
            }
        }
    }
}

.ul__footer{
    list-style-type: none;
    li{
        display: inline;
        padding: 1rem;
        margin-top: 10rem;
    }
}

.index__footer{
    nav{
        ul{
            li{
                a{
                    color: #000;
                    font-family: 'Hind', sans-serif;
                    text-decoration: none;
                }
            }
        }
    }
}